version: '3'
# start by cleaning up old containers since logger will conflict
# docker-compose rm -f;docker-compose up
services:
  db:
    image: postgres:11.8-alpine
    expose:
      - '5432'
    ports:
      - '5432:5432'
    volumes:
      - ./db-data/postgres:/var/lib/postgresql/data      
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dbyoumi
    networks:
      - backend
  redis:
    image: redis:latest
    container_name: rds
    ports:
      - "6379:6379"
    networks:
      - backend
  livego:
    image: gwuhaolin/livego
    container_name: livego
    ports:
      - "1935:1935"
      - "7001:7001"
      - "7002:7002"
      - "8090:8090"
    volumes:
      - ../tmp/recordings:/tmp
      - ./livego.yaml:/app/livego.yaml
    restart: always
    networks:
      - backend
networks:
  backend:
    driver: bridge
